@font-face {
    font-family: Lexend;
    src: url('../Source-Files/Fonts/Lexend-Regular.ttf');
} @font-face {
    font-family: Poppins;
    src: url('../Source-Files/Fonts/Poppins-Regular.ttf');
} @font-face {
    font-family: PoppinsLight;
    src: url('../Source-Files/Fonts/Poppins-Light.ttf');
} @font-face {
    font-family: RedHatDisplay;
    src: url('../Source-Files/Fonts/RedHatDisplay-Regular.ttf');
}

:root {
    --ColorYellow: #e6cc00;
    --ColorWhite: #fdf4dc;
} * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
} body {
    user-select: none;
    width: 100%;
    height: 100vh;
    height: 100svh;
    font-family: RedHatDisplay;
    min-width: 360px;
} body::-webkit-scrollbar {
    width: 0;
} body::-webkit-scrollbar-track {
    background-color: transparent;
} body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

#MainFormHeader {
    position: fixed;
    width: 100%;
    background-color: var(--ColorYellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
} #MainFormHeader p {
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    padding: 0.8rem;
} #MainHeaderButtons {
    background-color: var(--ColorWhite);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
} #MainHeaderButtons button {
    background-color: var(--ColorWhite);
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    flex: 1;
    font-size: 1.35rem;
    letter-spacing: 0.15rem;
    padding: 0.95rem 0 0.95rem 0;
} #MainHeaderButtons button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#MainFormMain {
    display: flex;
    flex-direction: column;
    padding-top: 12.5rem;
    background-color: var(--ColorWhite);
} #AddContainer {
    display: flex;
    align-items: center;
    justify-content: center;
} #AddIMG {
    width: 90%;
    height: auto;
} #CheckBrandsLabelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
} #CheckBrandsLabel {
    font-size: 3rem;
    letter-spacing: 0.25rem;
} #CheckBrandsButton {
    font-size: 1.5rem;
    letter-spacing: 0.25rem; 
    color: #081857;
    text-decoration: none;
    display: flex;
} #CheckBrandsButton:hover {
    font-weight: bold;
} 

.BestSellerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
} .BestSellerContainer p {
    font-size: 2rem;
} .BestProductContainer {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} #BestSellerForWomenViewMoreButton, #BestSellerForMenViewMoreButton {
    min-width: 10rem;
    max-width: 10rem;
    height: 18rem;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
} #BestSellerForWomenViewMoreButton i, #BestSellerForMenViewMoreButton i {
    font-size: 7rem;
} #BestSellerForWomenViewMoreButton:hover, #BestSellerForMenViewMoreButton:hover {
    background-color: rgba(0, 0, 0, 0.15); 
} .BestSellerProductContainer {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 1rem 0 1rem 0;
    overflow-x: hidden;
    margin-right: 1rem;
} 

.Product {
    min-width: 22.5rem;
    max-width: 22.5rem;
    height: 22.5rem;
    position: relative;
    margin-right: 1rem;
} .ProductContainerOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
} .ProductContainer {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} .ImgProductContainer {
    height: 70%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
} .ProductContainer img {
    width: 100%;
    height: auto;
} .ProductContainer .ProductName {
    padding-top: 0.2rem;
    font-size: 2rem;
} .ProductContainer .ProductPrice{
    font-size: 1.5rem;
} .ProductContainer i {
    padding-top: 0.2rem;
    font-size: 2rem;
}

#MainFormFooter {
    background-color: var(--ColorYellow);
    padding: 0 3rem 0 3rem;
} #UpperFooter {
    display: flex;
    align-items: center;
    padding: 2rem 0 2rem 0;
} #UpperFooterLabelContainer1 {
    width: 20rem;
    padding: 1rem 0 1rem 0;
} #FooterLabel1 {
    font-size: 2.8rem;
} #FooterLabel2 {
    font-size: 1.8rem;
} #UpperFooterLabelContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: calc(100% - 6rem);
} #FooterLabel3 {
    font-size: 3rem;
} #UpperFooterLabelContainer2 div {
    display: flex;
    justify-content: space-evenly;
    width: 15rem;
} #UpperFooterLabelContainer2 div i {
    font-size: 4rem;
} #BottomFooter {
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
} #BottomFooter p {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: #081857;
} #BottomFooter div {
    width: 35rem;
    display: flex;
    justify-content: space-between;
} #BottomFooter a {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
} #BottomFooter a:hover {
    font-weight: bold;
}


